@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

// Colors
$font_black: #070707;
$font_white: #FFFFFF;
$primary_color: #F9D7CB;
$secondary_color: #F79672;

//Mixins
@mixin display-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin display-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}