@import '../../styles/variables.scss';

.offert {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 100px 0;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}
.offert__title {
    margin: 90px 0;
    text-transform: uppercase;
}
.offert__photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.offert__image-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background:#000000B3;
    position:absolute; 
    top: 0;
    opacity:0; 
    transition:all 300ms ease-in-out;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;
    font-size: 3rem;
    color: $font_white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.offert__image-caption-title {
    margin: 0;
}
.offert__photo-container:hover .offert__image-caption {
    opacity: 1;
}
.offert__kicker {
    margin: 200px 0;
    font-size: 3.7rem;
    text-align: center;
}
.offert__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.offert__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    text-decoration: none;
}
.offert__social-logo {
    width: 40px;
}
.ofert__social-username {
    margin-bottom: 0;
    margin-left: 20px;
    color: $primary_color;
}
.offert__contact-details {
    color: $primary_color;
    text-decoration: none;
        &:hover {
            color: $primary_color;        
        }
}   
