@import '../../styles/variables.scss';

.social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.social-container__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    text-decoration: none;
}
.social-container__social-logo {
    width: 40px;
}
.social-container__social-username {
    margin-bottom: 0;
    margin-left: 20px;
    color: $primary_color;
    font-size: 4rem;
}