@import '../../styles/variables.scss';

.page-not-found {
    @include display-flex-column;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    color: $primary-color;
}
.page-not-found__logo {
    width: 350px;
}
.page-not-title {
    font-size: 7rem;
    padding-top: 20px;
}