@import '../../styles/variables.scss';

.cakes-offert {
    @include display-flex-column;
    width: 100%;
    margin-top: 150px;
}
.cakes-offert__title {
    margin: 100px 0;
    color: $primary_color;
}
.cakes-offert__lists {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
}
.cakes-offert__list {
    width: 35%;
}
.cakes-offert__list-item {
    font-size: 1.5rem;
    &::marker {
        color: $secondary_color;
    }
}

// Gallery 

.gallery-layout {
    @include display-flex-column;
    width: 100%;
}
.gallery-row {
    @include display-flex-row;
    justify-content: space-around;
    margin-top: 30px;
}
.gallery-image {
    width: 30%;
}